body {
    text-align: center;
    background-color: #9ca8b8;
    font-family:思源宋體;
}
h1 {
    font-family: 標楷體;
    color: #656565;
    text-shadow: 2px 2px 5px white;
}
table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}
th,
td {
    padding: 15px;
    background-color: #e0e5df;
}

